@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* Generic styles */

body {
  --emphasis-color-extra: #77216F;
  --emphasis-color: #77216F;
  --emphasis-color-alt: #E95420;
  --emphasis-color-foreground: white;
  --color-foreground: #111111;
  --color-background: white;
  --font-weight-biggest: 700;
  --font-weight-bigger: 500;
  --font-weight-regular: 400;
  --font-weight-smaller: 300;
  --figure-size:30em;
  font-family: 'Ubuntu', Symbol;
  font-size: 0.85em;
  /* max-width: 8.5in; */
  color: var(--color-foreground);
}
code {
  font-weight: var(--font-weight-regular);
  font-size: 1em;
}
section {
  padding: 0.5em;
}

h3 {
  font-weight: var(--font-weight-bigger);
  font-size: 1.5em;
  /* margin: 0; */
  width: fit-content;
  border-bottom: 0.05em solid var(--color-foreground);
}

h4 {
  font-weight: var(--font-weight-bigger);
  font-size: 1em;
  margin: 0;
  width: fit-content;
}

h5 {
  font-weight: var(--font-weight-smaller);
  font-size: 0.75em;
  margin: 0;
  width: fit-content;
}

i {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: var(--emphasis-color-extra);
}

/* this will be used for the titles I had at each job */

em {
  font-style: italic;
  font-weight:100;
  font-size: 0.8em;
}
small {
  font-size: 0.8em;
  font-weight: 200;

}

a {
  color: var(--color-foreground);
}

time {
  font-weight: 300;
  font-size: 0.90em;
}
.Root {
  display: flex;
}
.Doc {
  display: grid;
  grid-template-areas:
    'Logo Identity'
    'Info Intro'
    'Info Main'
    ;
  column-gap: 0.1em;
  row-gap: 0.1em;
  background-color: #AEA79F;
  max-width: 8.5in;
}
.Intro {
  grid-area: Intro;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: var(--font-weight-smaller);
}
.Education p {
  font-weight: var(--font-weight-regular);
  font-size: 0.9em;
  margin: 0;
}

.Educations>ul>li {
  margin-bottom: 1em;
}

.Logo {
  grid-area: Logo;
  background-color: var(--emphasis-color-alt);
  color: var(--emphasis-color-foreground);
  /* padding: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  width:7em;
  height:7em;
}
.Logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Identity {
  background-color: var(--emphasis-color-extra);
  color: var(--emphasis-color-foreground);
  padding: 1em;
  grid-area: Identity;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Identity h1 {
  font-weight: var(--font-weight-biggest);
  font-size: 3em;
  margin: 0;
  width: fit-content;

}
.Identity * {
  color:var(--emphasis-color-foreground);
}


.Info {
  grid-area: Info;
  background-color: var(--emphasis-color);
}

.Main {
  grid-area: Main;
}

.Prompt > header {
  margin-bottom: 0.25em;
}
.Prompt > .Answers {
  list-style: none;
}
.Prompts {
  background-color: var(--emphasis-color-foreground);
}
.Prompts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.Prompt {
  margin-bottom: 1em;
  border-bottom: 0.05em dotted #bbb;
}

.Prompt p {
  font-weight: var(--font-weight-smaller);
  flex-grow:1;
}

.Prompt ul {
  list-style: square;
}
.Answers img {
  max-width:25em;
  max-height:30em;
  margin: 0.25em;
}
.Answer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Anwser > p > div {
  page-break-inside: avoid;
}
.Answer.flip-figure {
  flex-direction: row-reverse;
}
.Answer strong {
  font-style: italic;
  font-weight: var(--font-weight-regular);
}
.Answer .fill-response {
  flex-grow: 1;
  margin: 0.25em;
  max-width: 100%;
}
/* Always see Completion widget on screen */
.Edit {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: var(--emphasis-color-foreground);
  color: var(--emphasis-color);
  /* padding: 0.5em; */
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  font-weight: var(--font-weight-normal);
  z-index: 2;
  border: 0.25em solid var(--emphasis-color);
  width: calc(100% - 8.5in - 1em);
  max-height: 100%;

}
.RemainingPrompts {
  max-height: 100%;
  overflow: scroll;
}
.RemainingPrompts ul {
  list-style:square;
  list-style-position: inside;
  padding-left: 0.1em;
}
.RemainingPrompts li {
  margin-bottom: 0.5em;
}
.Edit h3 {
  margin: 0;
  margin-bottom: 0.5em;
  /* padding: 0.1em; */
  border-bottom: 0.05em solid var(--emphasis-color);
}
.Progress > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 0.05em solid var(--emphasis-color);
}

.draft {
  font-weight: var(--font-weight-bigger);
}

.draft .header {
  background-color: var(--emphasis-color-extra);
  color: var(--emphasis-color-foreground);
  padding: 0.25em;
  font-size: 1.2em;
}


.draft.primary .header {
  border: 0.1em solid var(--emphasis-color-extra);
  background-color: var(--emphasis-color-alt);
}
/* Hide Progress in print form */
@media print {
  .Edit {
    display: none;
  }
}
