@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* Generic styles */

body {
  --emphasis-extra: #77216F;
  --emphasis-color: #77216F;
  --emphasis-foreground: white;
  --font-weight-biggest: 700;
  --font-weight-bigger: 500;
  --font-weight-regular: 400;
  --font-weight-smaller: 300;
  font-family: 'Ubuntu', Symbol;
  font-size:0.85em;
  max-width: 8.5in;
}

section {
  padding: 1em;
}

h3 {
  font-weight: var(--font-weight-bigger);
  font-size: 1.5em;
  margin: 0;
  width: fit-content;
  border-bottom: 0.05em solid var(--emphasis-foreground);
}

h4 {
  font-weight: var(--font-weight-regular);
  font-size: 1em;
  margin: 0;
  width: fit-content;
}

h5 {
  font-weight: var(--font-weight-smaller);
  font-size: 0.75em;
  margin: 0;
  width: fit-content;
}

ul {
  list-style: none;
  padding: 0;
}

i {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: var(--emphasis-extra);
}

/* this will be used for the titles I had at each job */
em {
  font-style: normal;
  font-weight: 300;
}

small {
  font-size: 0.8em;
  font-weight: 200;

}

a {
  color: var(--emphasis-foreground);
}

time {
  font-weight: 300;
  font-size: 0.90em;
}

.Resume {

  display: grid;
  grid-template-areas:
    'Communications Identity'
    'Info Main';
  column-gap: 0.1em;
  row-gap: 0.1em;
  grid-template-columns: 50px;
}

.Summary {
  font-weight: 300;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.Education p {
  font-weight: var(--font-weight-regular);
  font-size: 0.9em;
  margin: 0;
}

.Educations>ul>li {
  margin-bottom: 1em;
}

.Identity {
  background-color: var(--emphasis-extra);
  color: var(--emphasis-foreground);
  padding: 1em;
  grid-area: Identity;
}

.Identity h1 {
  font-weight: var(--font-weight-biggest);
  font-size: 3em;
  margin: 0;
  width: fit-content;
}

.Info {
  grid-area: Info;
  background-color: var(--emphasis-color);
}

.Main {
  grid-area: Main;
}

.Work>header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.25em;
}

.Work {
  margin-bottom: 1em;
  border-bottom: 0.05em dotted #bbb;
}
.Work p {
  font-weight: var(--font-weight-smaller);

}

.Ability,
Communication {
  padding: 0.1em;
}

.Communication {
  margin-bottom: 0.25em;
}

.Communications {
  grid-area: Communications;
}

.WorkSkills {
  display: flex;
  list-style: square;
  list-style-position: inside;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 0.75em;
  justify-content: center;
}

.WorkSkills li {
  /* center contents inside element*/
  justify-content: center;
  align-items: center;

  margin: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25em;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--emphasis-foreground);
}

.WorkSkills li:first-child {
  list-style: none;
}
